@model IEnumerable<WebProject.Models.Enrol>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.Course_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.Tutor_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.class_Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.First_Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Students.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Course_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Tutor_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.class_Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Enrol_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Enrol_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Enrol_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
